.LocationListContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 30px;
}
@media only screen and (max-width: 1050px) {
  .LocationListContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
  }
}
.ManagementPageContainer{
  display: flex;
  flex-direction: column;
}
.LocationListContainer{

}
.LocationMapContainer{

}
.LocationMapContainerFilterPannel{
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 20px;
}
